# Node.js dependencies
node_modules/

# Rust build artifacts
target/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# VSCode settings (optional, if you don't want to share them)
.vscode/

# wifi credentials file
embassy/examples/rp/wifi.rs
.env
**/.env